<div fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
    <div fxFlex="100" fxLayout="column" class="mb-24">
        <div style="text-align: center;">
            <mat-icon class="info">error_outline</mat-icon>
        </div>
        <label style="font-size: 20px; color: #656565; font-weight: bold;">¡Precaución!</label>
    </div>

    <div style="max-width: 400px; text-align: center;" class="mb-24">
        <p style="text-align: center; margin-bottom: 10px;">¿Estas seguro que deseas eliminar este grupo?</p>
        <p style="font-weight: bold;">{{data.nombre}}</p>
        <img [src]="'https://apilms.central.edu.py/media/files/' + this.data.link_imagen">
    </div>

    <div fxLayout="row" style="width: 100%;">
        <div class="mr-24" style="width: 50%;">
            <button mat-flat-button color="accent" class="boton-sin-fondo" mat-dialog-close>Cancelar</button>
        </div>
        <div style="width: 50%;">
            <button fxFlex="100" mat-flat-button color="accent" class="boton-con-fondo"
                (click)="eliminar()">Eliminar</button>
        </div>
    </div>
</div>