.boton-con-fondo {
    background: #285ba7 !important;
    border-radius: 50px;
}

.boton-sin-fondo {
    background: transparent !important;
    border-radius: 50px;
    border-color: #285ba7 !important;
    border: solid;
    border-width: 1px;
    color: #285ba7 !important;
}
