<div class="page-layout simple">
    <div fxFlex="1 0 auto" fxLayout="column">
        <!--HEADER NORMAL-->
        <div
            class="header"
            fxLayout="row"
            fxLayoutAlign="center center"
            fxFlex="1 0 auto"
        >
            <div>
                <button mat-button routerLink="/administrador-unidades">
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>
            <div>
                <h1
                    [@animate]="{
                        value: '*',
                        params: { delay: '100ms', y: '25px' }
                    }"
                >
                    Lista alumnos de: {{ nombreMateriaIngresada }}
                </h1>
            </div>
        </div>
        <!-- / HEADER NORMAL-->

        <div class="p-24 card" fxLayout="column">
            <!-- LISTAS DEPENDIENDO QUE SELECCIONO -->
            <div
                class="mat-card card p-12"
                fxLayout="column"
                fxFlex="100"
                style="border-radius: 5px"
            >
                <div class="matFormField">
                    <input
                        [(ngModel)]="termino"
                        style="
                            border-radius: 50px;
                            height: 55px;
                            background: rgb(240, 240, 240);
                            width: 100%;
                        "
                        placeholder="Buscar..."
                    />
                </div>

                <mat-table
                    style="width: 100%"
                    class="products-table"
                    #table
                    [dataSource]="
                        lista
                            | filter : termino
                            | paginate
                                : { itemsPerPage: itemsPerPage, currentPage: p }
                    "
                    [@animateStagger]="{ value: '50' }"
                    fusePerfectScrollbar
                    matSort
                    (matSortChange)="sortData($event)"
                >
                    <!-- Columna NOMBRE-->
                    <ng-container matColumnDef="nombre">
                        <mat-header-cell
                            fxLayoutAlign="start"
                            *matHeaderCellDef
                            mat-sort-header="NOMBRE"
                        >
                            Nombre
                        </mat-header-cell>
                        <mat-cell fxLayoutAlign="start" *matCellDef="let list">
                            <p class="text-truncate">
                                {{ list.NOMBRE }}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Columna APELLIDO -->
                    <ng-container matColumnDef="apellido">
                        <mat-header-cell
                            fxLayoutAlign="start"
                            *matHeaderCellDef
                            mat-sort-header="APELLIDO"
                        >
                            Apellido
                        </mat-header-cell>
                        <mat-cell fxLayoutAlign="start" *matCellDef="let list">
                            <p class="category text-truncate">
                                {{ list.APELLIDO }}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Columna DOCUMENTO -->
                    <ng-container matColumnDef="documento">
                        <mat-header-cell
                            fxLayoutAlign="start"
                            *matHeaderCellDef
                            mat-sort-header="DOCUMENTO"
                        >
                            Documento
                        </mat-header-cell>
                        <mat-cell fxLayoutAlign="start" *matCellDef="let list">
                            <p class="text-truncate">
                                {{ list.DOCUMENTO }}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Columna ULTIMO INGRESO -->
                    <ng-container matColumnDef="ultimo_ingreso">
                        <mat-header-cell
                            fxLayoutAlign="start"
                            *matHeaderCellDef
                            mat-sort-header="LAST_LOGIN"
                        >
                            Ultimo ingreso
                        </mat-header-cell>
                        <mat-cell fxLayoutAlign="start" *matCellDef="let list">
                            <p class="category text-truncate">
                                {{ list.LAST_LOGIN | date : "dd/MM/YYYY" }}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Columna FILIAL -->
                    <ng-container matColumnDef="filial">
                        <mat-header-cell
                            fxLayoutAlign="start"
                            *matHeaderCellDef
                            mat-sort-header="FILIAL"
                        >
                            Filial
                        </mat-header-cell>
                        <mat-cell fxLayoutAlign="start" *matCellDef="let list">
                            <p class="text-truncate">
                                {{ list.FILIAL }}
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Columna ESTADO -->
                    <ng-container matColumnDef="estado">
                        <mat-header-cell
                            fxLayoutAlign="start"
                            *matHeaderCellDef
                            mat-sort-header="PUNTAJE"
                        >
                            Estado
                        </mat-header-cell>
                        <mat-cell fxLayoutAlign="start" *matCellDef="let list">
                            <p
                                class="text-truncate"
                                style="color: #ffbd2e"
                                *ngIf="list.PUNTAJE < 0"
                            >
                                Pendiente
                            </p>

                            <p
                                class="text-truncate"
                                style="color: #c41818"
                                *ngIf="list.PUNTAJE <= 60 && list.PUNTAJE > -1"
                            >
                                Reprobado
                            </p>

                            <p
                                class="text-truncate"
                                style="color: #2aa559"
                                *ngIf="list.PUNTAJE > 60"
                            >
                                Aprobado
                            </p>
                        </mat-cell>
                    </ng-container>

                    <!-- Columna ACCIONES -->
                    <ng-container matColumnDef="acciones">
                        <mat-header-cell
                            fxLayoutAlign="center center"
                            *matHeaderCellDef
                        >
                            <!-- <mat-checkbox class="checkbox" [(ngModel)]="seleccionarTodo"
                                (click)="seleccionarTodoFuncion()">
                            </mat-checkbox> -->
                            Acciones
                        </mat-header-cell>

                        <mat-cell
                            fxLayoutAlign="start center"
                            style="padding: 5px 0 0 12px"
                            *matCellDef="let list"
                            fxLayout="column"
                        >
                            <mat-form-field
                                appearance="outline"
                                style="width: 100%"
                            >
                                <mat-label>Acciones</mat-label>
                                <mat-select>
                                    <mat-option (click)="verExamenes(list)">
                                        <mat-icon matSuffix
                                            >visibility</mat-icon
                                        >
                                        Ver Examenes
                                    </mat-option>

                                    <mat-option (click)="desuscribir(list)">
                                        <mat-icon matSuffix>delete</mat-icon>
                                        Eliminar
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <!-- <div>
                                <mat-checkbox style="font-size: 10px !important;" class="checkbox"
                                    [(ngModel)]="list.CHECKED" (click)="check(list)">
                                </mat-checkbox>
                            </div> -->
                        </mat-cell>
                    </ng-container>

                    <mat-header-row
                        *matHeaderRowDef="displayedColumns; sticky: true"
                    ></mat-header-row>

                    <mat-row
                        *matRowDef="let list; columns: displayedColumns"
                        class="product"
                        matRipple
                    >
                    </mat-row>
                </mat-table>
                <div fxLayoutAlign="center center" class="mt-16">
                    <pagination-controls
                        (pageChange)="p = $event"
                        autoHide="true"
                        responsive="true"
                        previousLabel="Anterior"
                        nextLabel="Siguiente"
                    ></pagination-controls>
                </div>
            </div>
            <!-- LISTAS DEPENDIENDO QUE SELECCIONO -->
        </div>
    </div>
</div>
