.card {
    max-width: 300px;
    max-height: 450px;
    border-radius: 5px;
    transition: box-shadow 0.2s ease-in-out !important;

    .card:hover {
        box-shadow: 0 19 px 38px rgba(0, 0, 0, 0.3),
            0 15px 12px rgba(0, 0, 0, 0.22) !important;
    }
}

.boton-sin-fondo {
    background: transparent !important;
    border-radius: 50px;
    border-color: #285ba7 !important;
    border: solid;
    border-width: 1px;
    color: #285ba7 !important;
    width: 100%;
}
