.boton-con-fondo {
    background: #285ba7 !important;
    border-radius: 50px;
    width: 50%;
}

.eliminar {
    background: transparent !important;
    border-radius: 50px;
    border-color: #b91919 !important;
    border: solid;
    border-width: 1px;
    color: #b91919 !important;
    width: 50%;
}

.icono {
    font-size: 100px;
    width: fit-content;
    height: auto;
    color: #2d323e;
}
