<div class="p-24" fxFlex="100" fxLayout="column">

    <div class="mat-card mb-24 p-12" fxFlex="100" fxLayout="row" style="border-radius: 5px;"
        fxLayoutAlign="start center">
        <div class="mr-16">
            <mat-icon class="info">info</mat-icon>
        </div>
        <div>
            <label>Aquí podrás <strong>revisar la información general de la materia.</strong></label>
        </div>
    </div>

    <div class="mat-card mb-24 p-12" fxFlex="100" fxLayout="column" style="border-radius: 5px;">
        <div class="mb-24">
            <label><strong>ACA VAN LOS DATOS DEL QUILL</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                In nihil fugit
                nam quae quod sint, unde, rem voluptatem earum, id neque quos necessitatibus nisi impedit nobis suscipit
                iure saepe porro. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque accusamus cum,
                inventore quaerat nulla necessitatibus iusto perferendis vel unde ipsum nobis itaque expedita nostrum
                incidunt explicabo veniam eaque omnis quidem? Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Animi, harum. Repellat cumque vel esse eveniet repudiandae quaerat ipsa inventore ipsam veniam. Magnam
                quos consequatur laborum, eos numquam maiores possimus obcaecati! Lorem ipsum dolor, sit amet
                consectetur adipisicing elit. Sint, sed nisi nostrum distinctio, eveniet id a rerum similique molestiae
                at, ut eos dolorem eius rem reprehenderit. Porro quas illum animi?</label>
        </div>

        <div fxLayout="column">
            <label class="mb-12" style="font-size: 20px; font-weight: bold;">Aquí puedes descargar los archivos</label>
            <a class="mb-4" style="cursor: pointer;">Nombre archivo 1</a>
            <a class="mb-4" style="cursor: pointer;">Nombre archivo 2</a>
            <a class="mb-4" style="cursor: pointer;">Nombre archivo 3</a>
            <a style="cursor: pointer;">Nombre archivo 4</a>
        </div>
    </div>

</div>