.fondo {
    background: #f7f7f7;
}

.header {
    background: linear-gradient(to right, #285ba7 0%, #014666 100%);
    max-height: 65px !important;
    color: #fff;
}

.boton-sin-fondo {
    background: transparent !important;
    border-radius: 50px;
    border-color: #285ba7 !important;
    border: solid;
    border-width: 1px;
    color: #285ba7 !important;
}

.boton-con-fondo {
    background: #285ba7 !important;
    border-radius: 50px;
}

.botonDisabled {
    background: #adadad !important;
    border-radius: 50px;
}

.info {
    font-size: 50px;
    width: fit-content;
    height: auto;
    color: #285ba7;
}
