.header {
    background: linear-gradient(to right, #2d323e 0%, #285ba7 100%);
    max-height: 65px;
    color: #fff;
}

.card {
    max-width: 1000px;
    width: 100%;
}

.boton-con-fondo {
    background: #285ba7 !important;
    border-radius: 50px;
}

.info {
    font-size: 50px;
    width: fit-content;
    height: auto;
    color: #285ba7;
}

.disabled {
    border-radius: 50px;
}

.mat-cell {
    padding-right: 10px;
}

.selector {
    border: solid;
    border-color: #acacac;
    border-width: 1px;
    border-radius: 5px;
    padding: 6px;
}
