<div fxLayout="column" fxLayoutAlign="center center" fxFlex="100">

    <div fxFlex="100" fxLayout="column" class="mb-24">
        <div style="text-align: center;">
            <mat-icon class="info">check_circle_outline</mat-icon>
        </div>
        <label style="font-size: 20px; color: #656565; font-weight: bold;">¡Publicado!</label>
    </div>

    <div style="max-width: 400px; text-align: center;" class="mb-24">
        <label style="text-align: center;">El contenido de la subunidad ha sido actualizada con éxito.</label>
    </div>

    <div fxLayout="row" style="width: 100%;" fxLayoutAlign="center">
        <div style="width: 50%;">
            <button fxFlex="100" mat-raised-button color="accent" class="boton-con-fondo"
                (click)="cerrarDialog()">Continuar</button>
        </div>
    </div>

</div>