.boton-con-fondo {
    background: #285ba7 !important;
    border-radius: 50px;
    width: 60%;
}
.disableado {
    background: #d6d6d6 !important;
    border-radius: 50px;
    width: 60%;
}
.boton-sin-fondo {
    background: transparent !important;
    border-radius: 50px;
    border-color: #285ba7 !important;
    border: solid;
    border-width: 1px;
    color: #285ba7 !important;
    width: 60%;
}
hr {
    border: 0;
    clear: both;
    display: block;
    width: 100%;
    background-color: #d6d6d6;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mat-error {
    min-height: 15px;
}
