.header {
    background: linear-gradient(to right, #2d323e 0%, #285ba7 100%);
    max-height: 65px;
    color: #fff;
}

.boton-con-fondo {
    background: #285ba7 !important;
    border-radius: 50px;
}

.des {
    background: #acacac !important;
    border-radius: 50px;
}
