<div class="page-layout simple">
    <div fxFlex="1 0 auto" fxLayout="column">

        <!--HEADER NORMAL-->
        <div class="header" fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
            <!--<div>
                <button mat-button>
                    <mat-icon>arrow_back</mat-icon>
                </button>
            </div>-->
            <div>
                <h1 [@animate]="{
                    value: '*',
                    params: { delay: '100ms', y: '25px' }
                }">Roles</h1>
            </div>
        </div>
        <!-- / HEADER NORMAL-->

        <div fxFlex="1 0 auto">
            <mat-tab-group>

                <!--EMPIEZA TAB CREAR ROL-->
                <mat-tab label="Crear rol">
                    <!--CONTENIDO-->
                    <div class="p-24 card" fxLayout="column" [formGroup]="formulario" fxFlex="1 0 auto"
                        style="width: 100% !important;">

                        <div class="mat-card card p-12 mb-24" fxLayout="row" fxFlex="1 0 auto"
                            style="border-radius: 5px;">
                            <div fxLayoutAlign="start center" class="mr-12">
                                <mat-icon class="info">info</mat-icon>
                            </div>
                            <div fxLayoutAlign="start center">
                                <label>Acá puedes <strong>crear un rol.</strong></label>
                            </div>
                        </div>

                        <div class="mat-card card p-12" fxLayout="column" fxFlex="100" style="border-radius: 5px;">

                            <!--INPUT NOMBRE-->
                            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                <mat-label>Nombre</mat-label>
                                <input matInput formControlName="nombre" />

                                <mat-error>Por favor ingrese un nombre.</mat-error>
                            </mat-form-field>


                            <!--BOTON AGREGAR-->

                            <button mat-flat-button color="accent"
                                [ngClass]="this.formulario.invalid ? 'disabled':'boton-con-fondo'"
                                [disabled]="this.formulario.invalid" (click)="crearRol()">
                                Crear rol
                            </button>
                        </div>
                    </div>
                </mat-tab>
                <!--TERMINA TAB CREAR USUARIO-->

                <!--EMPIEZA TAB LISTA DE ROLES-->
                <mat-tab label="Lista de roles">
                    <div class="p-24" fxLayout="column" fxFlex="100">
                        <div class="mat-card card p-12 mb-24" fxLayout="row" fxFlex="1 0 auto"
                            style="border-radius: 5px;" fxLayoutAlign="start center">
                            <div class="mr-12">
                                <mat-icon class="info">info</mat-icon>
                            </div>
                            <label>
                                En esta vista <strong>podrás ver y modificar los datos de los roles.</strong>
                            </label>
                        </div>

                        <div class="mat-card card p-12" fxFlex="1 0 auto" fxLayout="column" style="border-radius: 5px;"
                            fxLayoutAlign="start center">

                            <mat-table style="width: 100%" class="products-table" #table [dataSource]="
                                listaRoles
                                    | paginate
                                        : {
                                              itemsPerPage: itemsPerPage,
                                              currentPage: p
                                          }
                            " [@animateStagger]="{ value: '50' }" fusePerfectScrollbar matSort
                                (matSortChange)="sortData($event)">
                                <!-- Columna NOMBRE -->
                                <ng-container matColumnDef="nombre">
                                    <mat-header-cell fxLayoutAlign="start" *matHeaderCellDef mat-sort-header="nombre">
                                        Nombre
                                    </mat-header-cell>
                                    <mat-cell fxLayoutAlign="start" *matCellDef="let rol">
                                        <p class="text-truncate">
                                            {{rol.nombre}}
                                        </p>
                                    </mat-cell>
                                </ng-container>

                                <!-- Columna ACCIONES -->
                                <ng-container matColumnDef="acciones">
                                    <mat-header-cell fxLayoutAlign="start start" *matHeaderCellDef>Acciones
                                    </mat-header-cell>

                                    <mat-cell fxLayoutAlign="start"
                                        style="justify-content: space-evenly; padding: 5px 0;" *matCellDef="let rol"
                                        fxLayout="row">
                                        <button mat-flat-button color="accent" (click)='editarRol(rol)' class="mr-4">
                                            <mat-icon>edit</mat-icon>
                                        </button>

                                        <button mat-flat-button color="warn" (click)='eliminarRol(rol)'>
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

                                <mat-row *matRowDef="let product; columns: displayedColumns" class="product" matRipple>
                                </mat-row>
                            </mat-table>
                            <div fxLayoutAlign="center center" class="mt-16">
                                <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"
                                    previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <!--TERMINA TAB LISTA DE USUARIOS-->
            </mat-tab-group>
        </div>
    </div>
</div>