.boton-con-fondo {
    background: #285ba7 !important;
    border-radius: 50px;
}

.eliminar {
    background: transparent !important;
    border-radius: 50px;
    border-color: #b91919 !important;
    border: solid;
    border-width: 1px;
    color: #b91919 !important;
    width: fit-content;
}
